body    {
    font-family: 'Roboto Condensed','Roboto','Segoe UI', Arial, sans-serif;
}

h1  {
    font-size: 2.5em;
}

h2  {
    font-size: 1.25em;
}

.title {
    text-align: center;
}

.nav    {
    margin-top: .5em;
    margin-right: .5em;
    margin-left: auto;
    text-align: right;
    width: 300px;
}

.advanced    {
    margin-top: .5em;
    margin-right: auto;
    margin-left: .5em;
    text-align: left;
}

a.link, a.link:link,  a.link:visited    {
    color: #3c4043;
    text-decoration: none;
}

a.link:hover, a.link:active  {
    text-decoration: underline;
    color: black;
}

.main  {
    margin: auto;
    width: 50%;
}

.top    {
    height: 0;
    padding-bottom: 10%;
    position: relative;
}

.buttons    {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: .5em;
}

.searchbar  {
    margin: auto;
    display: block;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 35px;
    width: 450px;
    padding: 0 10px;
}

.advancedbar  {
    margin-right: auto;
    display: block;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 35px;
    width: 450px;
    padding: 0 10px;
}

.searchbar:focus {
    border: 1px solid #dfe1e5;
}

.mainbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
}

.mainbutton:hover {
    border: 1px solid #dfe1e5;
}

.advbutton {
    background-color: #4d90fe;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
}

.advbutton:hover {
    border: 1px solid #3079ed;
}